extends layout

block content
    h1 Cadastrar desenvolvedores
    hr
    form(method='POST' action='/desenvolvedores')
        input(type='text' name='nome' placeholder='Nome')
        input(type='text' name='email' placeholder='Email')
        input.btn.btn-success(type='submit' value='Cadastrar')